<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="appLayout(pageTitle, content, pageScripts)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}">
    <title th:replace="${pageTitle}">StockPro</title>
    <link rel="stylesheet" th:href="@{/css/stockpro-ui.css}">
</head>
<body>
<div class="app-shell" data-app-shell>
    <div class="app-shell__overlay" data-sidebar-close></div>
    <aside class="app-sidebar" th:replace="~{layout/sidebar :: sidebar}"></aside>
    <div class="app-workspace">
        <header class="app-header" th:replace="~{layout/header :: header}"></header>
        <main class="app-main">
            <div class="app-main__inner">
                <div th:replace="~{components/messages :: flashMessages}"></div>
                <div th:replace="${content}">
                    <section class="panel">
                        <div th:replace="~{components/common :: emptyState('Content unavailable', 'The requested page fragment could not be rendered.')}"></div>
                    </section>
                </div>
            </div>
        </main>
        <footer class="app-footer" th:replace="~{layout/footer :: footer}"></footer>
    </div>
</div>
<script th:src="@{/js/stockpro-ui.js}" defer></script>
<th:block th:replace="${pageScripts}"></th:block>
</body>
</html>
